/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* 
===================================
Box Sizing
===================================
*/

h1,
p {
    background-color: red;
    padding: 20px;
    margin: 15px;
    width: 33.3%;
    text-align: center;
    border: 2px solid black;
}

.inline {
    display: inline-block;
    width: 25%;
}

button {
    display: inline-block;
}

img {
    height: 100px;
}

.col-wide {
    width: 50%;
}

/* 
===================================
Backgrounds
===================================
*/

body {
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/73/33/mining-icons-cartoon-set-vector-7147333.jpg");
}

/* 
===================================
Buttons
===================================
*/

button {
    cursor: pointer;
}